<head>
  <style>
    #one {
        border: 1px solid black;
        background-color: lightblue;
        padding: 50px 80px 50px 30px;
        height: 200px;
        width: 50%;
     }
     #two {
         border: 1px solid black;
         background-color: lightblue;
         padding: 50px 80px 50px 30px;
         height: 100px;
         width: 80%;
      }
  </style>
<head>
<body>
  <div id="one">
    This div element has a top padding of 50px, a right padding of 30px,
     bottom padding of 50px, and a left padding of 80px.
  </div>
  <hr>
  <div id="two">
    This div element has a top padding of 50px, a right padding of 30px,
     bottom padding of 50px, and a left padding of 80px.
  </div>
</body>
