<head>
  <style>
   body{ background-color: yellow;}
   h1{font-family: verdana;
      color: red;
      font-size: 300%;}
   p{color: blue;
     font-size: 200%;}
   #p01{color: red;}
   p.no{color: black;}
  </style>
</head>

<body>
  <h1>This is the product world!</h1>
  <hr>
  <h1>I love you !</h1>
  <p>
    Welcome you to come here!
    <br>
    I am really happy!
  </p>

  <p id="p01">
    I LOVE yOU!
  </p>

  <p class="no">
    I like you!
  </p>

  <p class="no">
    I like you too!
  </p>

  <p>
    You are my baby!
  </p>




</body>
